header,ul,p{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
img{
  display: block;
}
header{
  position: relative;
  z-index: 5;
  background: #1c2635;
  width: 100%;
  font-size: 14px;
  .list{
    height: 50px;
    display: flex;
    justify-content: space-around;
    li{
      margin-top: 15px;
      img{
        width: 67px;
        height: 22px;
      }
      a{
        color: #bbb;
        text-decoration: none;
      }
      i{
        color: #fff;
      }
      .active{
        color: #fff;
        div{
          height: 3px;
          background: #fff;
          margin-top: 13px;
        }
      }
    }
  }
  .search{
    height: 45px;
    padding: 9px 18px;
    background: #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left{
      p{
        font-size: 16px;
      }
    }
    .right{
      flex: 1;
      margin-left: 10px;
      padding: 0 10px;
      line-height: 35px;
      height: 35px;
      border: 1px solid #bbb;
      border-radius: 10px;
      background: #fff;
      i{
        color: #777;
      }
      span{
        color: #777;
        margin-left: 5px;
        font-size: 16px;
      }
    }
    .ss{
      box-sizing: border-box;
      color: #333;
      width: 70px;
      text-align: right;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border: 1px solid #fff;
      border-radius: 5px;
      margin-left: 5px;
    }
    .car{
      i{
        font-size: 25px;
        margin-left: 5px;
        color: blue;
      }
    }
  }
}
